{% extends "core/base.html" %}
{% load static %}
{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/estilo-saiba-mais.css' %}">
</head>

<div class="container" id="texto-pos-header">
	<p id="larger-inpe"> <span style="color: red;">Se você tiver <strong>dúvidas</strong> ou <strong>reclamações</strong> sobre este website, entre em contato conosco pelo e-mail: atende.diiav@inpe.br</span></p>
</div>
<body>
<div class="container text-center my-3">
        <h2 class="font-weight-light">Saiba mais</h2>
        <div class="row mx-auto my-auto justify-content-center">
            <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" role="listbox">

                    <div class="carousel-item active">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img iframe-container">
                                    <iframe id="video-youtube-1" src="https://www.youtube.com/embed/R5FbPx8E46Y"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
 


                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img iframe-container">
                                    <iframe id="video-youtube-3" src="https://www.youtube.com/embed/4sTBWQEC2TA"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-img iframe-container">
                                    <iframe id="video-youtube-4" src="https://www.youtube.com/embed/VW5R_rpDjm0"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
<h2>Glossário</h2>

<p><strong>Adaptação à mudança do clima</strong>: Processo de ajuste ao clima atual ou futuro e seus efeitos, a fim de reduzir danos e prejuízos ou explorar oportunidades. Nos sistemas naturais, o processo de adaptação ao clima atual e seus efeitos; a intervenção humana pode facilitar o ajuste ao clima esperado e seus efeitos.
<p>
<p><strong>Ameaça Climática</strong>: A ocorrência potencial de um evento climático que pode causar perda de vidas, ferimentos ou outros impactos à saúde, bem como perdas e danos à propriedade, infraestrutura, meios de subsistência, prestação de serviços, ecossistemas e recursos ambientais (ex. aumento do nível do mar, chuva forte, enchentes e secas)
<p>
<p><strong>Análise ou avaliação de medidas de adaptação à mudança do clima</strong>: Estudos para identificar e priorizar medidas e ações que visem reduzir a vulnerabilidade e/ou exposição do sistema de interesse frente as ameaças do clima (p.ex., planos estaduais e municipais de adaptação à mudança do clima). Normalmente, este tipo de estudo está associado a uma análise ou avaliação de riscos e vulnerabilidades climáticas.
<p>
<p><strong>Análise ou avaliação de riscos e vulnerabilidades climáticas</strong>: Estudos para estimar os potenciais impactos do clima atual e futuro, e suas causas, em um determinado sistema de interesse (p.ex., município, comunidade, pessoas, setor, ativos ou ecossistemas). A análise e a avaliação de riscos e vulnerabilidades climáticas são importantes para apoiar a tomada de decisões e o planejamento de medidas e ações para reduzir a vulnerabilidade do sistema de interesse e, consequentemente, o risco de perdas e danos devido ao clima. 
<p>
<p><strong>Boletim de monitoramento climático</strong>: Boletim contendo uma análise das condições climáticas observadas em um período passado (p.ex., no último mês) sobre uma determinada região, incluindo um panorama dos fenômenos de grande escala que interferem no clima da região de interesse, seguido por informações climáticas prognósticas para um período no futuro (p.ex., próximos meses). O boletim de monitoramento visa auxiliar o planejamento e as tomadas de decisões (p.ex., do setor agrícola).
<p>
<p><strong>Cenários de mudança do clima</strong>: Informações climáticas prognósticas para períodos de médio e longo prazo (p.ex., décadas) derivadas de projeções climáticas.
<p>
<p><strong>Clima</strong>: Clima é o estado duradouro (p.ex., a média de 30 anos) das condições atmosféricas ou meteorológicas de um determinado lugar.  Representa, portanto, um padrão geral das condições meteorológicas, hidrológicas e oceanográficas (variações anuais de temperatura, umidade, pressão do atmosférica, ventos), que se alteram de acordo com as estações do ano.
<p>
<p><strong>Dados brutos</strong>: Dados observacionais provenientes de estações de monitoramento meteorológico, hidrológico ou oceanográfico.
<p>
<p><strong>Dados de projeções ou análise ou avaliação de cenários de mudança do clima</strong>: Dados de projeções são dados climáticos simulados por modelos globais e regionais de clima (downscaling) a partir de um determinado cenário futuro de emissões ou concentração de gases do efeito estufa (GEE). Análise ou avaliação de cenários de mudança do clima são estudos com informações climáticas prognósticas (derivadas de projeções climáticas) para períodos de médio e longo prazo (p.ex., décadas).
<p>
<p><strong>Dados processados</strong>: Análises espaciais e temporais (p.ex., gráficos e mapas) derivados de dados brutos.
<p>
<p><strong>Downscaling</strong>: O downscaling é um método que deriva informações de escala local e regional a partir de modelos com informações em uma escala maior (global). Existem dois métodos principais: downscaling dinâmico e downscaling empírico/estatístico. O método dinâmico usa a saída de modelos climáticos regionais, modelos globais com resolução espacial variável ou modelos globais de alta resolução. Os métodos empíricos/estatísticos baseiam-se em observações e desenvolvem relações estatísticas que relacionam as variáveis atmosféricas de grande escala com as variáveis climáticas locais ou regionais.
<p>
<p><strong>Educação e Treinamento</strong>: Ações para desenvolver ou aprimorar capacidades técnicas para auxiliar a sociedade a se adaptar à mudança do clima (p.ex., cursos, oficinas e treinamentos).
<p>
<p><strong>Gases de efeito estufa (GEE)</strong>: Os gases de efeito estufa são aqueles constituintes gasosos da atmosfera, tanto naturais quanto antropogênicos, que absorvem e emitem radiação em comprimentos de onda específicos dentro do espectro de radiação terrestre emitida pela superfície da Terra, pela própria atmosfera e pelas nuvens. Vapor de água (H2O), dióxido de carbono (CO2), óxido nitroso (N2O), metano (CH4) e ozônio (O3) são os principais gases de efeito estufa na atmosfera terrestre.
<p>
<p><strong>Laudo meteorológico</strong>: Documento técnico, elaborado por um profissional meteorologista, usado para atestar a veracidade da ocorrência de fenômenos meteorológicos e climáticos que podem ter sido causadores de sinistros. 
<p>
<p><strong>Mudança do clima</strong>: Uma mudança no estado do clima que pode ser identificada (por exemplo, por meio de testes estatísticos) por mudanças na média e/ou na variabilidade de suas propriedades e que persiste por um período prolongado, normalmente décadas ou mais. As mudanças climáticas podem ser devidas a processos internos naturais ou forças externas, como modulações dos ciclos solares, erupções vulcânicas e mudanças antrópicas persistentes na composição da atmosfera ou no uso da terra.
<p>
<p><strong>Modelos de clima</strong>: Representações numéricas do sistema climático com base em propriedades físicas, químicas e biológicas de seus componentes, suas interações e processos de retroalimentação.
<p>
<p><strong>Previsão do tempo ou climática sazonal</strong>: Informações (p.ex., gráficos, mapas e tabelas) sobre a evolução do tempo e do clima no futuro próximo, ou seja, em um horizonte temporal de horas até meses. Uma previsão do tempo ou climática é resultado de uma tentativa de produzir uma estimativa da evolução real do tempo ou clima no futuro a partir de um determinado estado inicial do sistema climático
<p>
<p><strong>Projeção climática</strong>: São dados climáticos simulados por modelos de clima a partir de um determinado cenário futuro de emissões ou concentração de gases do efeito estufa (GEE) e condição inicial do modelo. As projeções climáticas são diferentes das previsões climáticas porque dependem de um cenário de emissão ou concentração de GEE, que por sua vez é baseado em suposições de futuros desenvolvimentos socioeconômicos e tecnológicos que podem ou não ser realizados.
<p>
<p><strong>Risco climático</strong>: Potencial de perdas e danos devido ao clima. O risco resulta da interação entre as ameaças climáticas e o nível de exposição e vulnerabilidade do sistema de interesse. 
<p>
<p><strong>Serviços climáticos</strong>: É o processo de fornecimento e customização de informações climáticas para apoiar indivíduos e organizações a tomarem decisões para ajudar a sociedade a se adaptar à variabilidade e às mudanças climáticas.
<p>
<p><strong>Tempo</strong>: Tempo é o estado momentâneo das condições atmosféricas ou meteorológicas de um determinado lugar.
<p>
<p><strong>Variabilidade climática </strong>: Desvios de variáveis climáticas de um determinado estado médio em todas as escalas espaciais e temporais. A variabilidade pode ser intrínseca, decorrente de flutuações de processos internos ao sistema climático (variabilidade interna), ou extrínseca, decorrente de variações de forçantes externas naturais ou antropogênicos (variabilidade forçada).
<p>
<p><strong>Vulnerabilidade</strong>: A propensão ou predisposição de um sistema em ser adversamente afetado pelo clima. A vulnerabilidade engloba uma variedade de conceitos e elementos, incluindo sensibilidade ou suscetibilidade a danos e falta de capacidade para lidar com a ameaça climática.
<p>

<p><strong>Fonte: </strong></p>
IPCC. Climate Change 2022: Impacts, Adaptation, and Vulnerability. Contribution of Working Group II to the Sixth Assessment Report of the Intergovernmental Panel on Climate Change [H.-O. Pörtner, D.C. Roberts, M. Tignor, E.S. Poloczanska, K. Mintenbeck, A. Alegría, M. Craig, S. Langsdorf, S. Löschke, V. Möller, A. Okem, B. Rama (eds.)]. Cambridge University Press. Cambridge University Press, Cambridge, UK and New York, NY, USA. 2022. 3056 p. doi:10.1017/9781009325844.
<p>
    </div>
    <div class="container" id="container-graficos">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-tablet-100">
                <div class="imagem-graficos">
                    {% autoescape off %}
                    {{figura_tipos_organizacao|safe}}
                    {% endautoescape %}
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-tablet-100">
                <div class="imagem-graficos">
                    {% autoescape off %}
                    {{figura_tipos_produtos|safe}}
                    {% endautoescape %}
                </div>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <a class="btn btn-success btn-lg" id="download-relatório" href="{% static 'relatorio/Relatorio_Base_CSI_20191213.pdf' %}"
                type="submit">Baixe o relatório <b>Serviços Climáticos no Brasil</b></a>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-center">
            <span><br><hr id="linha-vertical"><br></span>
    </div>
    
</body>
{% endblock content %}
